Package: konfplan-mssql
Version: 1.0.0-1
Section: database
Priority: optional
Architecture: all
Depends: docker.io | docker-ce
Maintainer: KonfPlan <juergen.krey@msg.group>
Description: MS SQL Server fuer KonfPlan (Docker-Wrapper)
 Microsoft SQL Server wird von Microsoft fuer Debian nicht offiziell
 unterstuetzt (nur RHEL, SLES und Ubuntu haben native Pakete). Der von
 Microsoft empfohlene Weg fuer andere Linux-Distributionen ist der offizielle
 SQL-Server-Docker-Container.
 .
 Dieses Paket installiert einen systemd-Service, der den Container
 mcr.microsoft.com/mssql/server ueber Docker startet, stoppt und bei Fehlern
 neu startet - inklusive persistenter Datenablage unter /var/lib/konfplan.
 Es installiert KEINEN eigenen SQL-Server-Prozess auf dem Host.
