<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dein Profil bei KonfPlan wurde gelöscht/abgemeldet</title>
</head>
<body>
    <p>Hallo {firstName} {lastName},</p>

    <p>wir möchten dich darüber informieren, dass dein Profil ({email}) bei KonfPlan gelöscht oder abgemeldet wurde.</p>
    <p>Solltest du Fragen dazu haben, kontaktiere bitte den Administrator.</p>

    <p>Mit freundlichen Grüßen<br>Dein KonfPlan-Team</p>
</body>
</html>