<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wichtige Information: Deine E-Mail-Adresse wurde geändert</title>
</head>
<body>
    <p>Hallo {firstName} {lastName},</p>

    <p>dies ist eine automatische Benachrichtigung, um dich darüber zu informieren, dass die mit deinem KonfPlan-Konto verknüpfte E-Mail-Adresse von '{oldEmail}' zu '{newEmail}' geändert wurde.</p>

    <p>Solltest du diese Änderung nicht vorgenommen haben, kontaktiere uns bitte umgehend.</p>

    <p>Mit freundlichen Grüßen<br>Dein KonfPlan-Team</p>
</body>
</html>