<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen beim Vortragsmanager!</title>
</head>
<body>
    <p>Hallo {firstName} {lastName},</p>

    <p>vielen Dank für deine Registrierung beim Vortragsmanager.</p>
    <p>Dein Account wurde erfolgreich erstellt.</p>

    <p>Du kannst dich nun mit deiner E-Mail-Adresse ({email}) und deinem Passwort anmelden.</p>

    <p>Mit freundlichen Grüßen,<br>Dein Vortragsmanager-Team</p>
</body>
</html>